* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #454545;
  color: white;
  font-family: "Inter", sans-serif;
}

main {
  display: flex;
  height: 100vh;
}

aside {
  background-color: #f6bb39;
  padding: 0 32px;
  height: 100%;
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

aside h1 {
  font-size: clamp(32px, 6vw, 96px);
  margin-bottom: 1rem;
  color: #454545;
}

aside p {
  font-size: clamp(24px, 4vw, 80px);
  font-weight: bold;
}

section {
  background-color: #fff;
  color: #454545;
  height: 100vh;
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#login-title {
  font-size: 48px;
  margin-bottom: 10%;
}

form {
  display: flex;
  flex-direction: column;
  width: 80%;
}

form label {
  margin-bottom: 8px;
  display: flex;
  flex-direction: column;
}

form input {
  margin-bottom: 16px;
  padding: 16px;
  font-size: 16px;
  border: 1px solid #454545;
  border-radius: 24px;
}

form button {
  padding: 16px;
  font-size: 16px;
  color: #e1e1e1;
  font-weight: 600;
  border: none;
  border-radius: 16px;
  cursor: pointer;
}

#login-button {
  background-color: #f6bb39;
  margin-bottom: 4%;
}

#register-button {
  background-color: #454545;
}

@media (max-width: 1024px), (max-height: 500px) {
  aside {
    display: none;
  }

  section {
    width: 100vw;
    height: auto;
    min-height: 100vh;
    padding: 32px;
  }

  #login-title {
    margin-bottom: 40px;
  }

  form {
    width: 100%;
    max-width: 400px;
  }
}
