#app-input-label {
  margin-bottom: 8px;
  display: flex;
  flex-direction: column;
}

#app-input-label input {
  margin-bottom: 16px;
  padding: 16px;
  font-size: 16px;
  border: 1px solid #454545;
  border-radius: 24px;
}
